In [1]:
import bitsandbytes
import json

# with open("sql-create-context-spider-intersect-validation-with-prompts.jsonl", "r") as f:
#     data = json.load(f)

# with open('sql-create-context-spider-intersect-validation-with-prompts.jsonl', 'r') as f:
#     for line in f:
#         data = json.loads(line)
#         # print(data)

data = []
with open('/root/finetune-llm-for-rag/datasets/sql/MiniLM-L6/sql-create-context-spider-intersect-validation-with-prompts.jsonl', 'r') as f:
    for line in f:
        data.append(json.loads(line))
# print(data_list[2])
# Step 2: Apply the function to each entry
# responses = map(your_function, data)
def generate_prompt(data_point):
    # print("inference prompt is: ", data_point['inference_prompt'])
    return data_point['inference_prompt']
prompts = []
for data_point in data:
    # prompt = generate_prompt(data_point)
    # append prompt to prompts
    # print("INBETWEEN POUNTS:")
    prompts.append(generate_prompt(data_point))
# print(prompts)
import torch
from transformers import AutoModelForCausalLM, BitsAndBytesConfig, AutoTokenizer

base_model = "codellama/CodeLlama-7b-hf"
model = AutoModelForCausalLM.from_pretrained(
    base_model,
    load_in_8bit=True,
    torch_dtype=torch.float16,
    device_map="auto",
)
from peft import PeftModel
model = PeftModel.from_pretrained(model, "/root/finetune-llm-for-rag/training-code/fifth-rag-codellama-7b-from-checkpoint/checkpoint-580")
tokenizer = AutoTokenizer.from_pretrained("codellama/CodeLlama-7b-hf")

tokenizer.pad_token = tokenizer.eos_token

The model weights are not tied. Please use the `tie_weights` method before using the `infer_auto_device` function.

Loading checkpoint shards:   0%|          | 0/2 [00:00<?, ?it/s]

In [7]:
batch_size = 16  # You can adjust the batch size based on your GPU capacity
outputs = []

model.eval()
with torch.no_grad(), open("fififth-finetune-of-rag-codellama7b.txt", "a") as f:
    for i in range(0, len(prompts), batch_size):
        print("i is: ", i)
        batch_inputs = prompts[i : i + batch_size]

        # Step 3: Loop over the batches and generate the outputs
        batch_model_inputs = tokenizer(
            batch_inputs, return_tensors="pt", padding=True, truncation=True, max_length=512
        )
        # print("length of input ids is: ", len(batch_model_inputs["input_ids"]))
        batch_model_inputs.to(model.device)
        input_lengths = [
            len(input_ids) for input_ids in batch_model_inputs["input_ids"]
        ]
        print("input lengths are: ", input_lengths)
        batch_outputs = model.generate(**batch_model_inputs, max_new_tokens=200)

        # Step 4: Collect the outputs
        batch_decoded_outputs = [
            tokenizer.decode(output[input_length:], skip_special_tokens=True)
            for output, input_length in zip(batch_outputs, input_lengths)
        ]
        outputs.extend(batch_decoded_outputs)
        # print(outputs)
        for i in range(len(batch_decoded_outputs)):
            print("input is: ", prompts[i])
            b = batch_decoded_outputs[i]
            print('full b is: ', b)
            print("B IS: ", b.split('\n')[1])
            f.write(b.split('\n')[1] + "\n")

Setting `pad_token_id` to `eos_token_id`:2 for open-end generation.

i is:  0
input lengths are:  [512, 512, 512, 512, 512, 512, 512, 512, 512, 512, 512, 512, 512, 512, 512, 512]

input is:  You are a powerful text-to-SQL model. Your job is to answer questions about a database. You are given a question and context regarding one or more tables. You must output the SQL query that answers the question.

Given the following examples:
Example 1:
### Input:
How many artists do we have?

### Context:
CREATE TABLE artist (Id VARCHAR)

### Response:
SELECT count(*) FROM artist

Example 2:
### Input:
How many songs are there?

### Context:
CREATE TABLE Songs (Id VARCHAR)

### Response:
SELECT count(*) FROM Songs

Example 3:
### Input:
How many songs have a shared vocal?

### Context:
CREATE TABLE vocals (songid VARCHAR); CREATE TABLE songs (songid VARCHAR)

### Response:
SELECT count(DISTINCT title) FROM vocals AS T1 JOIN songs AS T2 ON T1.songid  =  T2.songid WHERE TYPE  =  "shared"

Example 4:
### Input:
How many albums are there?

### Context:
CREATE TABLE ALBUM (Id VARCHAR)

### Response:
SELECT count(*) FROM ALBUM

Example 5:
### Input:
How many songs have a lead vocal?

### Context:
CREATE TABLE vocals (songid VARCHAR); CREATE TABLE songs (songid VARCHAR)

### Response:
SELECT count(DISTINCT title) FROM vocals AS T1 JOIN songs AS T2 ON T1.songid  =  T2.songid WHERE TYPE  =  "lead"

Please generate the SQL query that answers the following:
### Input:
How many singers do we have?

### Context:
CREATE TABLE singer (Id VARCHAR)

### Response:
full b is:
SELECT count(*) FROM singer
B IS:  SELECT count(*) FROM singer
input is:  You are a powerful text-to-SQL model. Your job is to answer questions about a database. You are given a question and context regarding one or more tables. You must output the SQL query that answers the question.

Given the following examples:
Example 1:
### Input:
List the age of all music artists.

### Context:
CREATE TABLE artist (Age VARCHAR)

### Response:
SELECT Age FROM artist

Example 2:
### Input:
Please list the age and famous title of artists in descending order of age.

### Context:
CREATE TABLE artist (Famous_Title VARCHAR, Age VARCHAR)

### Response:
SELECT Famous_Title ,  Age FROM artist ORDER BY Age DESC

Example 3:
### Input:
Show all artist name, age, and country ordered by the yeared they joined.

### Context:
CREATE TABLE artist (name VARCHAR, age VARCHAR, country VARCHAR, Year_Join VARCHAR)

### Response:
SELECT name ,  age ,  country FROM artist ORDER BY Year_Join

Example 4:
### Input:
List all people names in the order of their date of birth from old to young.

### Context:
CREATE TABLE people (name VARCHAR, date_of_birth VARCHAR)

### Response:
SELECT name FROM people ORDER BY date_of_birth

Example 5:
### Input:
List the name and country of origin for all singers who have produced songs with rating above 9.

### Context:
CREATE TABLE song (artist_name VARCHAR, rating INTEGER); CREATE TABLE artist (artist_name VARCHAR, country VARCHAR)

### Response:
SELECT DISTINCT T1.artist_name ,  T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name  =  T2.artist_name WHERE T2.rating  >  9

Please generate the SQL query that answers the following:
### Input:
Show name, country, age for all singers ordered by age from the oldest to the youngest.

### Context:
CREATE TABLE singer (name VARCHAR, country VARCHAR, age VARCHAR)

### Response:
full b is:
SELECT name
B IS:  SELECT name
input is:  You are a powerful text-to-SQL model. Your job is to answer questions about a database. You are given a question and context regarding one or more tables. You must output the SQL query that answers the question.

Given the following examples:
Example 1:
### Input:
What is the average age of all artists?

### Context:
CREATE TABLE artist (Age INTEGER)

### Response:
SELECT avg(Age) FROM artist

Example 2:
### Input:
What is the average and minimum age of all artists from United States.

### Context:
CREATE TABLE artist (age INTEGER, country VARCHAR)

### Response:
SELECT avg(age) ,  min(age) FROM artist WHERE country  =  'United States'

Example 3:
### Input:
How many artists are above age 46 and joined after 1990?

### Context:
CREATE TABLE artist (age VARCHAR, year_join VARCHAR)

### Response:
SELECT count(*) FROM artist WHERE age  >  46 AND year_join  >  1990

Example 4:
### Input:
List the age of all music artists.

### Context:
CREATE TABLE artist (Age VARCHAR)

### Response:
SELECT Age FROM artist

Example 5:
### Input:
What is the average weeks on top of volumes associated with the artist aged 25 or younger?

### Context:
CREATE TABLE volume (Weeks_on_Top INTEGER, Artist_ID VARCHAR); CREATE TABLE artist (Artist_ID VARCHAR, age VARCHAR)

### Response:
SELECT avg(T2.Weeks_on_Top) FROM artist AS T1 JOIN volume AS T2 ON T1.Artist_ID  =  T2.Artist_ID WHERE T1.age  <=  25

Please generate the SQL query that answers the following:
### Input:
What is the average, minimum, and maximum age of all singers from France?

### Context:
CREATE TABLE singer (age INTEGER, country VARCHAR)

### Response:
full b is:
SELECT avg(age) ,  min(age) ,
B IS:  SELECT avg(age) ,  min(age) ,
input is:  You are a powerful text-to-SQL model. Your job is to answer questions about a database. You are given a question and context regarding one or more tables. You must output the SQL query that answers the question.

Given the following examples:
Example 1:
### Input:
What is the famous release date of the artist with the oldest age?

### Context:
CREATE TABLE artist (Famous_Release_date VARCHAR, Age VARCHAR)

### Response:
SELECT Famous_Release_date FROM artist ORDER BY Age DESC LIMIT 1

Example 2:
### Input:
List the age of all music artists.

### Context:
CREATE TABLE artist (Age VARCHAR)

### Response:
SELECT Age FROM artist

Example 3:
### Input:
Show all artist name, age, and country ordered by the yeared they joined.

### Context:
CREATE TABLE artist (name VARCHAR, age VARCHAR, country VARCHAR, Year_Join VARCHAR)

### Response:
SELECT name ,  age ,  country FROM artist ORDER BY Year_Join

Example 4:
### Input:
What is the name of the song that was released in the most recent year?

### Context:
CREATE TABLE song (song_name VARCHAR, releasedate VARCHAR)

### Response:
SELECT song_name ,  releasedate FROM song ORDER BY releasedate DESC LIMIT 1

Example 5:
### Input:
List the name and gender for all artists who released songs in March.

### Context:
CREATE TABLE song (artist_name VARCHAR, releasedate VARCHAR); CREATE TABLE artist (artist_name VARCHAR, gender VARCHAR)

### Response:
SELECT T1.artist_name ,  T1.gender FROM artist AS T1 JOIN song AS T2 ON T1.artist_name  =  T2.artist_name WHERE T2.releasedate LIKE "%Mar%"

Please generate the SQL query that answers the following:
### Input:
Show the name and the release year of the song by the youngest singer.

### Context:
CREATE TABLE singer (song_name VARCHAR, song_release_year VARCHAR, age VARCHAR)

### Response:
full b is:
SELECT song_name ,
B IS:  SELECT song_name ,
input is:  You are a powerful text-to-SQL model. Your job is to answer questions about a database. You are given a question and context regarding one or more tables. You must output the SQL query that answers the question.

Given the following examples:
Example 1:
### Input:
How many artists are above age 46 and joined after 1990?

### Context:
CREATE TABLE artist (age VARCHAR, year_join VARCHAR)

### Response:
SELECT count(*) FROM artist WHERE age  >  46 AND year_join  >  1990

Example 2:
### Input:
What are all distinct country for artists?

### Context:
CREATE TABLE artist (country VARCHAR)

### Response:
SELECT DISTINCT country FROM artist

Example 3:
### Input:
List the name and country of origin for all singers who have produced songs with rating above 9.

### Context:
CREATE TABLE song (artist_name VARCHAR, rating INTEGER); CREATE TABLE artist (artist_name VARCHAR, country VARCHAR)

### Response:
SELECT DISTINCT T1.artist_name ,  T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name  =  T2.artist_name WHERE T2.rating  >  9

Example 4:
### Input:
Find the country of origin for the artist who made the least number of songs?

### Context:
CREATE TABLE song (artist_name VARCHAR); CREATE TABLE artist (country VARCHAR, artist_name VARCHAR)

### Response:
SELECT T1.country FROM artist AS T1 JOIN song AS T2 ON T1.artist_name  =  T2.artist_name GROUP BY T2.artist_name ORDER BY count(*) LIMIT 1

Example 5:
### Input:
List the age of all music artists.

### Context:
CREATE TABLE artist (Age VARCHAR)

### Response:
SELECT Age FROM artist

Please generate the SQL query that answers the following:
### Input:
What are all distinct countries where singers above age 20 are from?

### Context:
CREATE TABLE singer (country VARCHAR, age INTEGER)

### Response:
full b is:

IndexError: list index out of range